[Unit]
Description=Starts Mklauncher
After=syslog.target network.target
[Service]
Type=simple
ExecStart=/usr/bin/mklauncher /home/machinekit/
User=machinekit
[Install]
WantedBy=multi-user.target
